# Cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environnement/settings
.venv/
pyproject.toml

# Local data
/data/raw/*
/data/results/*

# temporary files
*.log
.DS_Store
.vscode/

# kaggle credentials
.kaggle/kaggle.json